.icon-wrapper {
    display: inline-block;
}

.icon-link {
    text-decoration: none;
    color: #fff;
}

.brand-block {
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}

.brand-block__name {
    font-size: 16px;
    font-weight: 500;
}

.brand-block__title {
    font-size: 12px;
    font-weight: 200;
}
